.loginedListStyle_header {
  display: flex;

  margin: 0 4rem;
  padding: 0;
  a {
    display: block;
    margin-top: 1rem;
  }
  li:nth-child(2) {
    opacity: 0.5;
  }
  svg {
    margin-top: 0.7rem;
    display: none;
  }
  .menuList {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 767px) {
    .menuList {
      display: none;
    }
  }
}

.listStyle_header {
  display: flex;
  margin: 0 4rem;
  padding: 0;
  a {
    display: block;
    margin-top: 1rem;
  }
  li:nth-child(n + 3):nth-child(-n + 4) {
    opacity: 0.5;
  }
  svg {
    margin-top: 0.7rem;
    display: none;
  }
  .menuList {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
  }
  // .menuButton {
  //   li:nth-child(1) {
  //     opacity: 0.5;
  //     cursor: default;
  //   }
  // }
  @media screen and (max-width: 767px) {
    .menuList {
      display: none;
    }
  }
}

.loginedListStyle_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  padding: 0;
  a {
    display: block;
    margin-top: 1rem;
  }
  li:nth-child(2) {
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.listStyle_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  padding: 0;
  a {
    display: block;
    margin-top: 1rem;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  // ul {
  //   margin: 0;
  //   padding: 0;
  // }
  // li {
  //   background-image: url(/suisaiTegamiLogo.png);
  //   background-size: cover;
  //   // background-position: left center;
  //   // background-repeat: no-repeat;
  // }
  li:nth-child(n + 3):nth-child(-n + 4) {
    opacity: 0.5;
  }
}
.svg {
  position: relative;
  float: right;
  margin: 2rem 1rem 0 2rem;
  cursor: pointer;
}
.logout {
  position: absolute;
  display: none;
  // padding: 2px;
  // color: aliceblue;
  // border-radius: 5px;
  // background-color: purple;
  width: 100px;
  top: 2rem;
  right: 0.3rem;
  font-size: 12px;
  // text-align: center;
}
.svg:hover .logout {
  display: inline;
}
.box {
  background-image: url(/background.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.createProf {
  opacity: 0.5;
}
.topMessage {
  font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 1.5rem;
  text-align: left;
  transform: rotate(-10deg);
  position: absolute;
  top: 40%;
  left: 10%;
  p {
    border-bottom: dotted #000;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.7rem;
    left: 14%;
  }
}
.titleLogo {
  transform: rotate(-10deg);
  position: absolute;
  top: 20%;
  left: -5%;
  width: 45rem;
  height: 12rem;
  @media screen and (max-width: 767px) {
    top: 25%;
    left: -5%;
    width: 25rem;
    height: 7rem;
  }
}
.topLogo {
  background-image: url(/suisaiTegamiLogo.png);
  background-size: cover;
  margin-right: 1rem;
  cursor: pointer;
  img {
    width: 7rem;
    height: 3rem;
  }
  @media screen and (max-width: 767px) {
    margin-left: 12%;
    img {
      width: 10rem;
      height: 4rem;
    }
  }
}
.what {
  margin: 15rem 0 5rem;
  font-size: 2rem;
}
.how {
  margin: 20rem 0 5rem;
  font-size: 2rem;
}
.gridItemRight {
  font-size: 1.2rem;
  p {
    float: right;
  }
}
.gridItemLeft {
  font-size: 1.2rem;
  p {
    float: left;
  }
}
.hello {
  margin-bottom: 10rem;
}
.avatarImage {
  width: 3rem;
  height: 3rem;
  margin: 15rem 49% 0;
  @media screen and (max-width: 767px) {
    width: 2.3rem;
    height: 2.3rem;
    margin: 15rem 45% 0;
  }
}
.photo {
  border: dashed rgb(250, 243, 250);
}
.letter {
  border: dashed rgb(50, 36, 247);
}
.menuButton {
  font-size: 14px;
  background-color: rgb(238, 84, 174);
  padding: 1rem;
  width: 30%;
  height: 100%;
  margin-left: 60%;
  li {
    cursor: pointer;
    margin-bottom: 1rem;
  }
}

.menuIcon {
  display: none;
  float: right;
  position: relative;
  top: -3.5rem;
  right: 1rem;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
.authMessage {
  margin-top: 8rem;
  p {
    margin-bottom: 2rem;
  }
}
.instagram {
  h2 {
    margin-top: 5rem;
  }
  img {
    width: 4rem;
    height: 4rem;
  }
}
