.loginedListStyle {
  display: flex;
  justify-content: space-between;
  li:nth-child(2) {
    opacity: 0.5;
  }
}

.listStyle {
  display: flex;
  justify-content: space-between;
  li:nth-child(n + 3):nth-child(-n + 4) {
    opacity: 0.5;
  }
}
.svg {
  float: right;
  margin-left: 2rem;
  cursor: pointer;
}
