.loginedListStyle {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;

  li:nth-child(2) {
    opacity: 0.5;
  }
}

.listStyle {
  display: flex;
  justify-content: space-between;
  li:nth-child(n + 3):nth-child(-n + 4) {
    opacity: 0.5;
  }
}
.svg {
  float: right;
  margin-left: 2rem;
  cursor: pointer;
}
.box {
  background-image: url(/background.jpg);
}
.createProf {
  opacity: 0.5;
}
.topMessage {
  font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 1.5rem;
  text-align: left;
  transform: rotate(-10deg);
  position: absolute;
  top: 50%;
  left: 18%;
  p {
    border-bottom: dotted #000;
  }
}
.titleLogo {
  transform: rotate(-10deg);
  position: absolute;
  top: 2%;
  left: 2%;
  width: 50rem;
  height: 15rem;
}
.topLogo {
  width: 7rem;
  height: 3rem;
}
