.login p:hover {
  cursor: pointer;
}
.login input {
  margin-left: 1rem;
}
.loginButton {
  margin-top: 2rem;
  button {
    font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  }
}
.otherLogin {
  display: flex;
  justify-content: center;
  button {
    margin: 1rem;
    font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  }
}
