.post {
  button {
    font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  }
  h2 {
    margin: 5rem 0 2rem;
  }
}

.input {
  display: none;
  border-style: none;
}
.textField {
  padding: 0 10% 0;
  margin: 6rem 0 1rem;
}
.comment {
  display: flex;
  gap: 2rem;
  @media screen and (max-width: 767px) {
    gap: 1rem;
  }
  img {
    margin-bottom: 1rem;
    width: 2rem;
    height: 2rem;
    @media screen and (max-width: 767px) {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
.comments {
  margin: 5rem 10rem 0;
  @media screen and (max-width: 767px) {
    margin: 5rem 0rem 0;
    font-size: 10px;
  }
}
.postImage {
  margin-left: 8rem;
  width: 30rem;
  height: 19rem;
  @media screen and (max-width: 767px) {
    margin-left: 2rem;
    width: 13rem;
    height: 8rem;
  }
}
.postAvatar {
  margin-left: 1rem;
}
.iconButton {
  position: relative;
  button {
    position: absolute;
    top: -3rem;
  }
}
