.posts {
  // position: absolute;
  // top: 1rem;

  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  &:hover {
    cursor: pointer;
  }

  li {
    margin: 3rem 5rem 0.7rem 2rem;
  }
}
.postLists {
  // position: relative;
  background-image: url(/letterPinch.png);
  background-size: 35rem;
  height: 100rem;
  margin: 0 8rem;
}
