.input {
  display: none;
}
.createButton {
  button {
    font-family: "りいてがき筆", "YuGothic", "游ゴシック体";
  }
}
.img {
  margin-left: 3rem;
  width: 20rem;
  height: 30rem;
  @media screen and (max-width: 767px) {
    width: 13rem;
    height: 20em;
  }
}
