.posts {
  border-top: 1px solid #000;
}
.input {
  display: none;
  border-style: none;
}
.userInfo {
  p {
    font-size: 20px;
  }
}
.editImg {
  height: 6rem;
  width: 6rem;
  margin-left: 2.5rem;
}
